/spring-aop-4.2.6.RELEASE.jar
/spring-beans-4.2.6.RELEASE.jar
/spring-context-4.2.6.RELEASE.jar
/spring-context-support-4.2.6.RELEASE.jar
/spring-core-4.2.6.RELEASE.jar
/spring-expression-4.2.6.RELEASE.jar
/spring-jdbc-4.2.6.RELEASE.jar
/spring-test-4.2.6.RELEASE.jar
/spring-tx-4.2.6.RELEASE.jar
/spring-web-4.2.6.RELEASE.jar
/spring-webmvc-4.2.6.RELEASE.jar
/summernote-0.8.9.jar
/validation-api-1.1.0.Final.jar
/mybatis-spring-1.2.4.jar
/ojdbc6-12.1.0.1-atlassian-hosted.jar
/mybatis-3.3.1.jar
/hibernate-validator-5.0.3.Final.jar
/jackson-annotations-2.7.0.jar
/jackson-core-2.7.3.jar
/jackson-databind-2.7.3.jar
/jaxb-api-2.2.8.jar
/jboss-logging-3.1.1.GA.jar
/jquery-3.3.1.jar
/mail-1.4.7.jar
/bootstrap-3.3.7.jar
/classmate-1.0.0.jar
/commons-dbcp-1.4.jar
/commons-logging-1.2.jar
/commons-pool-1.5.4.jar
/activation-1.1.jar
/aopalliance-1.0.jar
