@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.masthead{
	height: 350px;
}

 *{
	font-family: 'Noto Sans KR', sans-serif;
} 


.navbar-brand{
	font-size: 20pt; margin-left: 50px; text-shadow: 2px 2px 4px gray; letter-spacing: 5px;
	font-style: italic;
} 

	



